
/* log in form */


.form1{
  width: 200px;
  height: 420px;
  background: linear-gradient(to top, rgba(90, 78, 78, 0.8)50%,rgba(90, 78, 78, 0.8)50%);
  top: -10px;
  left: 500px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px;
  margin-right: 40px;
}



.form1 .input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form1 .input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: rgb(57, 94, 218);
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.btnn:hover{
  background: #fff;
  color: rgb(57, 94, 218);
}

.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form1 .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form1 .link a{
  text-decoration: none;
  color: rgb(57, 94, 218);
}





/* Form end  */
